<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>ProjectWeb_ChauMinhPhat_24110294</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- UTF-8 Encoding Filter -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>vn.iotstar.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- SiteMesh 3 Filter -->
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
        <init-param>
            <param-name>configFile</param-name>
            <param-value>/WEB-INF/sitemesh3.xml</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Error Page Handling -->
    <error-page>
        <error-code>404</error-code>
        <location>/views/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/views/error.jsp</location>
    </error-page>

    <session-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

</web-app>